<h1 align="center">Reset Password</h1>


<div class="container" align="center">
<%= form_tag password_resets_path, :method => :post, :class => 'form-inline' do %>
<div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], class: 'form-control', autofocus: true %>
</div>
  <%= submit_tag "Reset Password", class: 'btn btn-primary btn-sm btn-submit' %>
<% end %>
</div>
