<h1>Reset Password</h1>

<%= form_tag password_resets_path, :method => :post do %>
  <div class="form-group">
      <div class="control-label col-md-2">
        <%= label_tag :email %>
      </div>
      <div class="col-sm-8">
      <%= text_field_tag :email, params[:email] %>
      </div>
    </div></<br>
    <div>

    </div>
    <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <%= submit_tag "Reset Password", class: 'btn btn-primary btn-lg' %>
          </div>
    </div>
<% end %>
