<style >
.center{
    text-align :center;
  }
.jumbotron{
    background-color: #474847;
    /* background-image: url(/assets/laptop_room_on_the_desk_keyboard_mouse_apple_window_interior_73963_1680x1050.jpg); */
    background-size: cover;
    height: 700px;
  }
  .jumbotron h1{
    color: #F7F9F9;
    margin-bottom:30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  .jumbotron h3{
    color: #F7F9F9;
    margin-bottom:30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  .btn-xlarge{
    font-size: 1.7em;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .button4 {border-radius: 12px;}
</style>

<div class="center jumbotron">
  <h3><strong>Hello,</strong> Welcome To Our Website</h3>
  <h1>ALPHA BLOG</h1>
  <%= link_to 'Sign up now', signup_path, class:"btn btn-danger button4 btn-lg btn-xlarge" %>
</div>
