<style >
.center{
    text-align :center;
  }
.jumbotron{
     /* background-image: asset-url('BackGround.jpg'); */
     background-color: #F26589;
     background-size: cover;
     height: 400px;
  }
  .jumbotron h1{
    color:#fff;
    text-align:center;
    margin-bottom:30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  .btn-xlarge{
    font-size: 1.7em;
    background-color: black;
  }
</style>

<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>

  <%= link_to 'Sign up now', "#", class:"btn btn-danger btn-lg btn-xlarge" %>
</div>
