<style>

.footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  .footer a:hover{
    color: #222;
  }
  .footer small{
    float: left;
  }
  .footer ul{
    float: right;
    list-style: none;
  }
  .footer ul li{
    float: left;
    margin-left: 15px;
  }

</style>

<div class="container">
  <footer class="footer">
<small>
Copyright &copy; <a href="https://www.udemy.com">Ruby on Rails Devloper</a>
by <a href="#">Mayur Pahak</a>
</small>
<nav>
  <ul>
    <li><%= link_to "About", welcome_about_path %></li>
    </ul>
    </nav>
  </footer>
  </div>
