<!DOCTYPE html>
<html>
  <head>
    <title>DogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  </head>

  <body>
<% flash.each do |name, msg| %>
<ul>
<li><%= msg %></li>
</ul>
<% end %>
    <%= yield %>
  </body>
</html>
